<!-- <div class="row">
		<div class="col">
			<webcam [height]="500" [width]="500" [trigger]="triggerObservable" (imageCapture)="handleImage($event)"
			 [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable" [videoOptions]="videoOptions" (cameraSwitched)="cameraWasSwitched($event)"
			 (initError)="handleInitError($event)"></webcam>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<br/>
			<button class="actionBtn" (click)="triggerSnapshot();">Take A Snapshot</button>
			<button class="actionBtn" (click)="toggleWebcam();">Toggle Webcam</button>
			<br/>
			<button class="actionBtn" (click)="showNextWebcam(true);" [disabled]="!multipleWebcamsAvailable">Next Webcam</button>
			<input id="cameraSwitchCheckbox" type="checkbox" [(ngModel)]="allowCameraSwitch">
			<label for="cameraSwitchCheckbox">Allow Camera Switch</label>
			<br/> DeviceId:
			<input id="deviceId" type="text" [(ngModel)]="deviceId" style="width: 500px">
			<button (click)="showNextWebcam(deviceId);">Activate</button>
		</div>
	</div> --> -->
<!-- <div class="row">
		<div class="col">
			<img [src]="webcamImage?.imageAsDataUrl" alt="">
		</div>
	</div> -->

<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
	<mat-toolbar color="primary" class="example-toolbar">
		<button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
		<h1 class="example-app-name">All-The-Places</h1>
	</mat-toolbar>

	<mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
		<mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
			<mat-nav-list>
				<a mat-list-item routerLink=".">Some text</a>
			</mat-nav-list>
		</mat-sidenav>

		<mat-sidenav-content>
			<app-map></app-map>
		</mat-sidenav-content>
	</mat-sidenav-container>
</div>